body {
    background-color: black;
    color:rgb(253, 252, 252);
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    text-align: center;
    
    max-height: 90vh !important;
    min-height: 90vh !important;
}


.grid-container {
    display: inline-grid;
    /* grid-template-columns: 175px 50px 175px 50px 175px 50px 70px; */
    grid-template-columns: 2fr .3fr 2fr .3fr 2fr .3fr .75fr;
    grid-template-rows: 2fr .3fr 2fr .3fr 2fr .3fr .75fr;
    width: 100%;
    height: fit-content;
    min-width: 500px;
    max-width: 100vh;
    max-height: 80vh;
    background-color: black;
    aspect-ratio: 1;
}


.mainNumber {
    background-color: rgb(98, 97, 97);
    /* padding: 30px 0; */
    aspect-ratio: 1/1;
    /* min-height: 2fr;
    max-height: 2fr;  */
    /* width: 90px; */
    }

.equals {
    /* width: 30px; */
    background-color: rgb(8, 8, 8);
    color: white;
}

.values {
    /* width: 90px; */
    background-color: rgb(0, 0, 0);
    color: white;
}

.mathCorrect {
    color:rgb(44, 237, 44)
}

.mainNumber, .operator, .equals, .values {
    /* font-size: 30px; */
    font-size: calc(2vmin + 12px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: rgb(68, 67, 67);    
}

.highlighted {
    background-color: rgb(184, 184, 110);
}

.numUsed {
    background-color: rgb(35, 55, 4);
}

.pencilMark {
    font-family: 'Courier New', monospace;
    font-size: calc(1vmin + 16px);
    letter-spacing: 1.5em;
    line-height: 150%;
    
    padding-left: 21%;
    box-sizing: border-box;
    aspect-ratio: 1;

}

.regularInput {
    font-size: calc(5.5vmin + 16px);
}

#inputNumbers {
    width: 80%;


    /* padding-top: 50px; */
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
}

.inputNumber {
    width: 30%;

    aspect-ratio: 3/1;
    border: 1px solid rgb(180, 180, 180);
    margin: 5px;
    /* Text */
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(248, 248, 248);
}

#gameButtons {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
    justify-content: center;
    max-width: 900px;
}

.gameButton {
    width: 45%;
    border: 1px solid rgb(180, 180, 180);
    margin: 5px;
    aspect-ratio: 3;
    /* Text */
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(248, 248, 248);
}

* {
    touch-action: manipulation;
}
